<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tercera pre entrega</title>
</head>
<body>
    Hola estimadísimo tutor!

    Este es un template muy básico (no uso ninguno, de hecho), al solo efecto de explicar lo hecho.<br>
    Es un "gestor" de activos intangibles: marcas, modelos industriales y diseños industriales.<br>
    Se crean tres modelos, a los efectos de cargar y almacenar datos relativos a cada uno.<br>
    Y se crea un formulario de búsqueda.<br>
    <br>
    <br>

    <a href="{% url 'cargar_marcas' %}">Carga de marcas.</a><br>
    <a href="{% url 'cargar_modelo' %}">Carga de modelos industriales.</a><br>
    <a href="{% url 'cargar_dis' %}">Carga de diseños industriales.</a><br>
    <a href="{% url 'realizar_busqueda' %}">Realizar una búsqueda</a><br>
</body>
</html>