<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la búsqueda</title>
</head>
<body>
    <h1>Resultados de la búsqueda</h1>
    {% if marcas %}
        <h2>Marcas:</h2>
        <ul>
            {% for marca in marcas %}
                <li>{{ marca.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if modelos %}
        <h2>Modelos Industriales:</h2>
        <ul>
            {% for modelo in modelos %}
                <li>{{ modelo.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if diseños %}
        <h2>Diseños Industriales:</h2>
        <ul>
            {% for diseño in diseños %}
                <li>{{ diseño.nombre }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'realizar_busqueda' %}">Volver a la búsqueda</a><br>
    <a href="{% url 'index' %}">Volver al índice.</a>
</body>
</html>